.container-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100vh;
    gap: 10px;
}
.grid-sidebar{
    grid-column: span 3;
    background-color: #ffffff;
}
.grid-add-products{
    grid-column: span 9;
    display: flex;
    justify-content: center;
}

.form-add-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 2px;
    background-color: #ffffff;
    width: 80%;
    border-radius: 10px;
}
.input-upload-image{
    margin-top: 20px;
}
.input-upload-image input{
    display: none;
}

.icon-upload-image img{
width: 50px;
height: 50px;
}

.container-product-price{
    display: flex;
    margin-top: 10px;
    gap: 15px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.price{
    display: flex;
    flex-direction: column;
}
.input-product{
    width: 300px;
    border: 1px solid #f4f2ee;
    border-radius: 5px;
    background-color: #f4f2ee;
}
.input-price{
    width: 300px;
    border: 1px solid #f4f2ee;
    border-radius: 5px;
    background-color: #f4f2ee;
}

.description{
    width: 610px;
    border: 1px solid #f4f2ee;
    border-radius: 5px;
    background-color: #f4f2ee;
}
.specifications{
    width: 610px;
    border: 1px solid #f4f2ee;
    border-radius: 5px;
    background-color: #f4f2ee;
}
.select-category{
    width: 610px;
    border: 1px solid #f4f2ee;
    border-radius: 5px;
    background-color: #f4f2ee;
    display: flex;
    justify-content: center;
    text-align-last: center;
    
}
.select-category option{
    text-align: center;
    
}

@media  (max-width:768px){
    .container-grid{ 
     display: flex !important ;
     flex-direction: column !important;
     align-items: center !important ;
     height: auto !important; /* Ajusta la altura para que se ajuste al contenido */
 }
 .grid-sidebar{
     width: 90% !important;
     margin-bottom: 20px; /* Agrega un margen inferior para separarlo del contenido principal */
 }
 .grid-add-products{
     width: 90% !important;
     margin-bottom: 20px; /* Agrega un margen inferior para separarlo del contenido principal */
 }
 
 .form-add-products{
     width: 95% !important;
     display: flex !important;
     flex-direction: column !important;
     align-items: center !important;
 }
 .form-add-products input{
     width: 85% !important; /* Ajusta el ancho de los inputs al 100% del contenedor */
 }
 .form-add-products select{
    width: 85% !important; 
 }
 
 .input-upload-image {
     margin-top: 20px;
     width: 100%;
     display: flex;
     justify-content: center;
 }
 
 .icon-upload-image img{
     width: 50px;
     height: 50px;
 }
 
 .container-product-price{
     display: flex;
     flex-wrap: wrap; /* Permite que los elementos se envuelvan en pantallas pequeñas */
     gap: 15px;
     justify-content: center;
 }
 .product, .price{
     width: calc(50% - 15px); /* Ajusta el ancho de los elementos al 50% del contenedor */
 }
 
 .description, .specifications, .select-category{
     width: 100%; /* Ajusta el ancho de estos elementos al 100% del contenedor */
 }
 }