.container-grids{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100vh;
    gap: 20px;
}
.grid-sidebars{
    grid-column: span 3;
    background-color: #ffffff;
}
.grid-products{
    grid-column: span 9;

    
}
.search-product{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    gap: 15px;
    
}
.search-product input{
    width: 300px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.btn-search-product{
    width: 100px;
    height: 35px;
    color: #fff;
}

@media screen and (max-width: 600px) {
.container-grids{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-product{
    display: flex;
    flex-direction: column;
}

}