.search-products{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 10px;
}
.search-products input{
    width: 300px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
.container-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 40px;
    
}
