.search-products{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
.search-products input{
    width: 300px;
}
.container-products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
    
}
