.container-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}
.container-sidebar{
    grid-column: span 3;
    background-color: #ffffff;
}
.container-form-employees{
    grid-column: span 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-employees{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    width: 700px;
    height: auto;
    gap: 10px;
}
.container-labels{
    margin-top: 10px;
}
.container-inputs{
    display: flex;
    flex-direction: column;
}
.container-inputs input{
    width: 500px;
    background-color: #f4f2ee;
    border: 1px solid #f4f2ee;
    border-radius: 5px;
}
.btn-send-employee{
    color: #ffffff;
}
.btn-send-employee:hover{
    color:#ffffff
}

@media (max-width: 760px) {
    .container-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto; /* Ajusta la altura al contenido */
    }
  
    .container-sidebar {
      width: 90%; /* Ajusta el ancho del sidebar al 90% */
      margin: 20px auto; /* Centra el sidebar horizontalmente y agrega margen en la parte superior e inferior */
    }
  
    .container-form-employees {
      width: 90%; /* Ajusta el ancho del formulario al 90% */
      margin: 20px auto; /* Centra el formulario horizontalmente y agrega margen en la parte superior e inferior */
    }
  
    .form-employees {
      width: 100%; /* Ajusta el ancho del formulario al 100% */
    }
  
    .container-inputs input {
      width: 100%; /* Ajusta el ancho de los inputs al 100% */
       /* Establece un ancho máximo para los inputs */
    }
  
    .container-labels {
      margin-top: 20px; /* Aumenta el margen superior */
    }
  
    .btn-send-employee {
      width: 50%; /* Ajusta el ancho del botón al 100% */
    }
  }
  