.container-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100vh;

}
.grid-sidebar{
    grid-column: span 3;
    background-color: #ffffff;
}
.grid-form-add-provider{
    grid-column: span 9;
    background-color: #f4f2ee;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-provider-products{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
    border-radius: 10px;
   width: 80%;
}

.inputs-form-provider-products {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 15px;
}
.inputs-form-provider-products input{
    width: 300px;
    border-radius: 5px;
    border: 1px solid #f4f2ee;
    background-color: #f4f2ee;
}
.container-name-razon-social{
    display: flex;
    gap: 10px;
}
.provider-name{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.razon-social{
    display: flex;
    flex-direction: column;
}
.container-address-number{
    display: flex;
    gap: 10px;
}
.address{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number{
    display: flex;
    flex-direction: column;
}
.container-rfc-gmail{
    display: flex;
    gap: 10px;
}
.rfc{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gmail{
    display: flex;
    flex-direction: column;
}
.btn-add-provider{
    display: flex;
    justify-content: center;
}


@media (max-width: 768px) {
    .container-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto; /* Ajusta la altura al contenido */
    }
  
    .grid-sidebar {
      width: 90%; /* Ajusta el ancho del sidebar al 90% */
      margin: 20px auto; /* Centra el sidebar horizontalmente y agrega margen en la parte superior e inferior */
    }
  
    .grid-form-add-provider {
      width: 90%; /* Ajusta el ancho del formulario al 90% */
      margin: 20px auto; /* Centra el formulario horizontalmente y agrega margen en la parte superior e inferior */
    }
  
    .form-provider-products {
      width: 100%; /* Ajusta el ancho del formulario al 100% */
    }
  
    .inputs-form-provider-products {
      gap: 10px; /* Reduce el espacio entre los elementos del formulario */
    }
  
    .inputs-form-provider-products input {
      width: 100%; /* Ajusta el ancho de los inputs al 100% */
    }
  
    .container-name-razon-social,
    .container-address-number,
    .container-rfc-gmail {
      flex-direction: column; /* Cambia la dirección de los contenedores a columna */
    }
  
    .container-name-razon-social .provider-name,
    .container-name-razon-social .razon-social,
    .container-address-number .address,
    .container-address-number .number,
    .container-rfc-gmail .rfc,
    .container-rfc-gmail .gmail {
      width: 100%; /* Ajusta el ancho de los contenedores internos al 100% */
    }
  
    .btn-add-provider {
      width: 100%; /* Ajusta el ancho del botón al 100% */
      display: flex;
      justify-content: center;
      margin-top: 20px; /* Agrega un margen superior al botón */
    }
  }
  


