.container-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100vh;
    gap: 20px;
}
.grid-sidebar{
    grid-column: span 3;
}
.grid-table-providers{
grid-column: span 9;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
}
.container-search-provider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.input-search-provider{
    display: flex;
    gap: 15px;
}
.input-search-provider input{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}