.container-grid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100vh;
    gap: 20px;
}
.grid-sidebar{
    grid-column: span 3;
}
.grid-table-providers{
grid-column: span 9;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 50px;
}
.container-search-provider{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.input-search-provider{
    display: flex;
    gap: 15px;
}
.input-search-provider input{
    background-color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    width: 300px;
    text-align: center;
}
.table-sellers{
    margin-top: 30px;
}

@media (max-width: 760px) {
    .container-grid {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto; /* Ajusta la altura al contenido */
    }
  
    .grid-sidebar {
      width: 90%; /* Ajusta el ancho del sidebar al 90% */
      margin: 20px auto; /* Centra el sidebar horizontalmente y agrega margen en la parte superior e inferior */
    }
  
    .grid-table-providers {
      width: 90%; /* Ajusta el ancho de la tabla al 90% */
      margin: 20px auto; /* Centra la tabla horizontalmente y agrega margen en la parte superior e inferior */
    }
  
    .container-search-provider {
      margin-top: 20px; /* Reduce el margen superior del contenedor de búsqueda */
    }
  
    .input-search-provider {
      flex-direction: column; /* Cambia la dirección de los elementos a columna */
      gap: 10px; /* Reduce el espacio entre los elementos del contenedor de búsqueda */
    }
  
    .input-search-provider input {
      width: 100%; /* Ajusta el ancho del input al 100% */
      text-align: center; /* Centra el texto del input */
    }
    .table-container-sellers{
        overflow-x: auto; /* Permite el desplazamiento horizontal */
        width: 95%;
    }
  
    .table-sellers{
        width: 80%; /* Ajusta el ancho de la tabla al 100% */
        border-collapse: collapse; /* Fusiona los bordes de la tabla */
        white-space: nowrap; /* Evita que el contenido de la tabla se envuelva */
        margin-top: 10px;
    }
  
    .table-sellers th, td {
      padding: 8px; /* Ajusta el relleno de las celdas */
    }
  }
  