.container-grids{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 100vh;
    gap: 20px;
}
.grid-sidebars{
    grid-column: span 3;
    background-color: #ffffff;
}
.grid-products{
    grid-column: span 9;
    
}
.search-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
}
.search-product input{
    width: 300px;
    text-align: center;
    border: 2px solid orange;
    border-radius: 5px;
}
.btn-search-product{
    width: 100px;
    height: 35px;
    color: #fff;
}
