.container-change-password{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.form-change-password{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 600px;
    height: 350px;
    align-items: center;
    justify-content: center;
    
}
.form-change-password input{
    width: 450px;
    background-color: #f4f2ee;
    border-radius: 5px;
    border: 1px solid #f4f2ee;
    height: 35px;
}
.btn-change-password{
    color: #ffffff;
    width: 450px;
}
.btn-change-password:hover{
    color: #ffffff;
}

@media (max-width:760px){
    .form-change-password{
        width: 90%;
    }
  .form-change-password input{
    width: 80%;
  }
    .btn-change-password{
        width: 80%;
    }
}