.container-change-password{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.form-change-password{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 10px;
    width: 600px;
    height: 300px;
    align-items: center;
    justify-content: center;
}
.input-current-password{
    display: flex;
    flex-direction: column;
}
.input-current-password input{
    width: 400px;
    border: 1px solid #f4f2ee;
    border-radius: 5px;
    background-color: #f4f2ee;
}
.input-new-password{
    display: flex;
    flex-direction: column;
}
.input-new-password input{
width: 400px;
border: 1px solid #f4f2ee;
border-radius: 5px;
background-color: #f4f2ee;
}
.btn-change-password{
    color: #ffffff;
    width: 400px;
}
.btn-change-password:hover{
    color: #ffffff;
}