.container-favorite-products{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}
.card-favorite-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}