.container-form-register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   border-radius: 5px;
    width: 450px;
    margin-top: 30px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
background-color: #ffffff;
}
.label-inputs{
    font-weight: 500;
    color: #FAB125;
}
.input-text{
    width: 95%;
    height: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
}
.input-text:focus,
.input-text:active{
    border: 2px solid rgba(0, 0, 255, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

@media only screen and (max-width: 600px) {
    .form-register{
        width: 95%;
    }
}